.custom-panel {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.custom-header {
    font-size: 18px;
    color: #3892d3;
    font-weight: bold;
}

.custom-button {
    background-color: #3892d3;
    border-color: #2980b9;
}

.custom-button:hover {
    background-color: #2980b9;
}
